# Swarm override: use local bind mounts instead of NFS
# Apply together with docker-compose.swarm.yml:
#   docker stack deploy -c docker-compose.swarm.yml -c docker-compose.swarm.local-bind.yml ${STACK_NAME:-usenet}

version: '3.8'

volumes:
  sabnzbd_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONFIG_ROOT:-/home/deck/usenet/config}/sabnzbd

  transmission_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONFIG_ROOT:-/home/deck/usenet/config}/transmission

  sonarr_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONFIG_ROOT:-/home/deck/usenet/config}/sonarr

  radarr_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONFIG_ROOT:-/home/deck/usenet/config}/radarr

  bazarr_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONFIG_ROOT:-/home/deck/usenet/config}/bazarr

  prowlarr_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONFIG_ROOT:-/home/deck/usenet/config}/prowlarr

  downloads_volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DOWNLOADS_ROOT:-/home/deck/usenet/downloads}

